<head>
<script>

fetch(`/content`, {headers: {role: localStorage.getItem("role")}}).then(x => x.text()).then(x => document.body.innerHTML = x);
fetch("scripts", {headers: {role: localStorage.getItem("role")}}).then(x => x.text()).then(x =>
{
   let script = document.createElement("script");
   script.innerHTML = x;
   document.head.append(script);
});

</script>
</head>