<section id="pages">
    <a href="../files">Files</a>
    <a href="../cycles">Cycles</a>
</section>
<section id="files">
<table id="archiveTable">
    <thead>
        <tr>
            <th>OT</th>
            <th>Version</th>
            <th>Detalles</th>
            <th>Fecha</th>
            <th>Datos</th>
        </tr>
        <tr>
            <td><input></td>
            <td><input></td>
            <td><input></td>
            <td><input></td>
            <td><input></td>
        </tr>
    </thead>
    <tbody id="archive">

    </tbody>
    <tr id="newFile">
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><button>Examinar...</button></td>
    </tr>
</table>
</section>
<table id="details">
    <thead>
        <tr>
            <th>Momento</th>
            <th>Parámetro</th>
            <th>Mínimo</th>
            <th>Máximo</th>
            <th>Validación</th>
        </tr>
    </thead>
    <tr>
        <td>Siempre</td>
        <td>Vacío</td>
        <td><input disabled id="vacuum_min"></td>
        <td><input disabled id="vacuum_max"></td>
        <td style="background-color: lime">OK</td>
    </tr>
    <tbody id="cycle">
        <tr>
            <td>Calentamiento</td>
            <td>Comando</td>
            <td><input disabled id="heat_command_min"></td>
            <td><input disabled id="heat_command_max"></td>
            <td style="background-color: lime">OK</td>
        </tr>
        <tr>
            <td></td>
            <td>Duración</td>
            <td><input disabled id="heat_duration_min"></td>
            <td><input disabled id="heat_duration_max"></td>
            <td style="background-color: red">NOK</td>
        </tr>
        <tr>
            <td>Mantenimiento</td>
            <td>Comando</td>
            <td><input disabled id="maintenance_command_min"></td>
            <td><input disabled id="maintenance_command_max"></td>
            <td style="background-color: lime">OK</td>
        </tr>
        <tr>
            <td></td>
            <td>Duración</td>
            <td><input disabled id="maintenance_duration_min"></td>
            <td><input disabled id="maintenance_duration_max"></td>
            <td style="background-color: lime">OK</td>
        </tr>
        <tr>
            <td></td>
            <td>T horno 1</td>
            <td><input disabled id="maintenance_oven1_min"></td>
            <td><input disabled id="maintenance_oven1_max"></td>
            <td style="background-color: lime">OK</td>
        </tr>
        <tr>
            <td></td>
            <td>T horno 2</td>
            <td><input disabled id="maintenance_oven2_min"></td>
            <td><input disabled id="maintenance_oven2_max"></td>
            <td style="background-color: lime">OK</td>
        </tr>
        <tr>
            <td></td>
            <td>T horno 3</td>
            <td><input disabled id="maintenance_oven3_min"></td>
            <td><input disabled id="maintenance_oven3_max"></td>
            <td style="background-color: lime">OK</td>
        </tr>
        <tr>
            <td></td>
            <td>T pieza 1</td>
            <td><input disabled id="maintenance_piece1_min"></td>
            <td><input disabled id="maintenance_piece1_max"></td>
            <td style="background-color: lime">OK</td>
        </tr>
        <tr>
            <td></td>
            <td>T pieza 2</td>
            <td><input disabled id="maintenance_piece2_min"></td>
            <td><input disabled id="maintenance_piece2_max"></td>
            <td style="background-color: lime">OK</td>
        </tr>
        <tr>
            <td></td>
            <td>T aceite</td>
            <td><input disabled id="maintenance_oil_min"></td>
            <td><input disabled id="maintenance_oil_max"></td>
            <td style="background-color: lime">OK</td>
        </tr>

        <tr>
            <td>Enfriamiento</td>
            <td>Comando</td>
            <td><input disabled id="freeze_command_min"></td>
            <td><input disabled id="freeze_command_max"></td>
            <td style="background-color: lime">OK</td>
        </tr>
        <tr>
            <td></td>
            <td>Duración</td>
            <td><input disabled id="freeze_duration_min"></td>
            <td><input disabled id="freeze_duration_max"></td>
            <td style="background-color: lime">OK</td>
        </tr>

    </tbody>
</table>
<section id="actions">
    <button id="save" disabled>Guardar</button>
    <button id="remove" disabled>Borrar</button>
</section>
<style>
section
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3em 0;
}
*
{
    box-sizing: border-box;
}
body
{
    max-width: 1200px;
    margin: 0 auto;
}
#files
{
    width: 100%;
    height: 20vh;
    overflow-y: auto;
}
table
{
    width: 100%;
    table-layout: fixed; /* Make all columns have equal width */
}
thead
{
    /*position: sticky;*/
    top: 0;
    color: #000;
}
th
{
    text-align: start;
}
#cycle
{
    border: 1px solid black;
}
</style>

<script>
let selectedRow;

let data =
[
    {id: "001", version: "1", details: "detalles", date: "2024-01-10" },
    {id: "001", version: "1", details: "detalles", date: "2024-01-10" },
    {id: "001", version: "1", details: "detalles", date: "2024-01-10" },
    {id: "001", version: "1", details: "detalles", date: "2024-01-10" },
    {id: "001", version: "1", details: "detalles", date: "2024-01-10" },
    {id: "001", version: "1", details: "detalles", date: "2024-01-10" },
    {id: "001", version: "1", details: "detalles", date: "2024-01-10" },
    {id: "001", version: "1", details: "detalles", date: "2024-01-10" },
    {id: "001", version: "1", details: "detalles", date: "2024-01-10" },
    {id: "001", version: "1", details: "detalles", date: "2024-01-10" },
    {id: "001", version: "1", details: "detalles", date: "2024-01-10" },
    {id: "001", version: "1", details: "detalles", date: "2024-01-10" },
    {id: "001", version: "1", details: "detalles", date: "2024-01-10" },
    {id: "001", version: "1", details: "detalles", date: "2024-01-10" },
    {id: "001", version: "1", details: "detalles", date: "2024-01-10" },
    {id: "001", version: "1", details: "detalles", date: "2024-01-10" },
];

for (let file of data)
{
    let row = document.createElement("tr");
    let id = Object.assign(document.createElement("td"), {textContent: file.id});
    let version = Object.assign(document.createElement("td"), {textContent: file.version});
    let details = Object.assign(document.createElement("td"), {textContent: file.details});
    let date = Object.assign(document.createElement("td"), {textContent: file.date});
    row.append(id, version, details, date);
    row.onclick = () =>
    {
        if (selectedRow)
        {
            selectedRow.style.backgroundColor = "white";
        }
        row.style.backgroundColor = "cyan";
        selectedRow = row;

        vacuum_min.value = "0";
        vacuum_max.value = "0.00001";

        let heat_command = Math.floor(Math.random() * 10);
        heat_command_min.value = heat_command;
        heat_command_max.value = heat_command;

        let heat_duration = Math.floor(Math.random() * 200);
        heat_duration_min.value = heat_duration;
        heat_duration_max.value = heat_duration + 10;

        save.disabled = false;
        save.textContent = "Guardar cambios";
        remove.disabled = false;
    }
    archive.append(row);
}
newFile.onclick = () =>
{
    if (selectedRow) selectedRow.style.backgroundColor = "initial";
    newFile.style.backgroundColor = "cyan";
    selectedRow = newFile;

    vacuum_min.value = "";
    vacuum_max.value = "";

    heat_command_min.value = "";
    heat_command_max.value = "";

    heat_duration_min.value = "";
    heat_duration_max.value = "";

    save.disabled = false;
    save.textContent = "Crear fichero";
    remove.disabled = true;
}
</script>
