<script src="https://github.com/mwilliamson/mammoth.js/releases/download/1.2.5/mammoth.browser.min.js"></script>

<body>
	<input id="uploadInput" type="file" multiple>
	<section id="output"></section>
</body>

<style>
	#output
	{
			display: none;
	}
	table {
		border-collapse: collapse;
	}

	td, th {
		border: 1px solid black;
		padding: 8px; /* Optional: Add padding for better appearance */
	}
</style>

<script>

uploadInput.onchange = readNextFile;

let fileReader = new FileReader();

function readNextFile()
{
	if (!uploadInput.fileList)
	{
		uploadInput.fileList = Array.from(uploadInput.files)
	}

	if (uploadInput.fileList.length > 0)
	{
		fileReader.readAsArrayBuffer(uploadInput.fileList.pop());
		fileReader.onload = onFileRead;
	}
}

async function onFileRead()
{
	let bytes = fileReader.result;
	let html = await mammoth.convertToHtml({arrayBuffer: bytes});
	output.innerHTML = html.value;
	treatments = [...output.getElementsByTagName("table")].filter(x => x.textContent.includes("PHASE"));
	for (treatment of treatments)
	{
		document.body.append(treatment);
		analyzeTreatment(treatment);
	}
	readNextFile();
}

function analyzeTreatment(treatment)
{
	let json = [];

	for (let row of treatment.getElementsByTagName("tr"))
	{
		let kindCell = row.children[0];

		if(kindCell.textContent.includes("HEAT FROM"))
		{
			let temperatureCell = row.children[1];
			let temperature = temperatureCell.children[1].textContent;

			json.push({kind: "HEAT FROM", temperature: temperature});
		}

		if(kindCell.textContent.includes("HEAT UP TO"))
		{
			let temperature = row.children[1].textContent;
			let time = row.children[2].textContent;
			let pressure = row.children[3].textContent;

			json.push({kind: "HEAT UP TO", temperature, time, pressure});
		}

		if(kindCell.textContent.includes("KEEP TO"))
		{
			let temperature = row.children[1].textContent;
			let time = row.children[2].textContent;
			let pressure = row.children[3].textContent;

			json.push({kind: "KEEP TO", temperature, time, pressure});
		}

		if(kindCell.textContent.includes("COOLDOWN") || kindCell.textContent.includes("COOL DOWN"))
		{
			let temperature = row.children[1].textContent;
			let time = row.children[2].textContent;
			let pressure = row.children[3].textContent;

			json.push({kind: "COOLDOWN", temperature, time, pressure});
		}
	}

	console.log(json);
}
</script>